body {
    background: #dbd7d6;
    font-family: "Salina";
    padding: 30px;
    background-size: cover;
}

.topheader h1 {
    font-size: 40px;
    text-align: center;
    color: #123456;
}

.nav-links {
    flex: 1;
    text-align:center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #123456;
    text-decoration: none;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

img{
    width: 300px;
    height: 250x;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 15px;
    float: left;
}

.name {
    text-align: left;
    color:#1f4a72;
    font-size: 70px;
    margin: 0 20px;
    padding: 0;
    line-height:10px;
}


p{
    display: inline;
    margin: 0 20px;
    padding: 10px;
    color: #123456;
}